<h1>1P 2022</h1>
<h2>Autos nuevos</h2>
<p>Total BS: {{valb}}</p>
<p>Total USD: {{vald}}</p>
<div class="nice">
  <div *ngFor="let car of newC">
    <app-auto
      [id] = "car.id"
      [type]="car.type"
      [colors]="car.color"
      [capacity]="car.capacity"
      [cDate]="car.createDate"
      [price]="car.price"
      [ttype]="car.timeType"
      [mType]="car.moneyType"
      [category]="car.category"
      [status]="car.status"
      [isdisable]="car.status==='enable'?false:true"
      (buyRent)="addBuyRent($event)"
    >
    </app-auto>
  </div>
</div>


<h2>Autos Usados</h2>
<p>Total BS: {{valb1}}</p>
<p>Total USD: {{vald1}}</p>
<div class="nice">
  <div *ngFor="let car of oldC">
    <app-auto
    [id] = "car.id"
    [type]="car.type"
    [colors]="car.color"
    [capacity]="car.capacity"
    [cDate]="car.createDate"
    [price]="car.price"
    [ttype]="car.timeType"
    [mType]="car.moneyType"
    [category]="car.category"
    [status]="car.status"
    [isdisable]="car.status==='enable'?false:true"
    (buyRent)="addBuyRent($event)"
    >
    </app-auto>
  </div>
</div>